<table>
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>코어</th>
    <th>쓰레드</th>
    <th>클럭</th>
    <th>소켓</th>
    <th>전력량</th>
    <th>가격</th>
  </tr>
  {% for cpu in cpu %}
  <tr>
    <td>{{cpu.cpu_title}}</td>
    <td>{{cpu.cpu_manufacturer}}</td>
    <td>{{cpu.cpu_core}}</td>
    <td>{{cpu.cpu_thread}}</td>
    <td>{{cpu.cpu_clock}}</td>
    <td>{{cpu.cpu_socket}}</td>
    <td>{{cpu.cpu_wattage}}</td>
    <td>{{cpu.cpu_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>냉각 방식</th>
    <th>전력량</th>
    <th>판매가격</th>
  </tr>
  {% for cooler in cooler %}
  <tr>
    <td>{{cooler.cooler_title}}</td>
    <td>{{cooler.cooler_manufacturer}}</td>
    <td>{{cooler.cooler_cooling}}</td>
    <td>{{cooler.cooler_wattage}}</td>
    <td>{{cooler.cooler_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>CPU</th>
    <th>소켓</th>
    <th>칩셋</th>
    <th>폼팩터</th>
    <th>전력</th>
    <th>판매가격</th>
  </tr>
  {% for mainboard in mainboard %}
  <tr>
    <td>{{mainboard.mainboard_title}}</td>
    <td>{{mainboard.mainboard_manufacturer}}</td>
    <td>{{mainboard.mainboard_cpu}}</td>
    <td>{{mainboard.mainboard_socket}}</td>
    <td>{{mainboard.mainboard_chipset}}</td>
    <td>{{mainboard.mainboard_formfactors}}</td>
    <td>{{mainboard.mainboard_wattage}}</td>
    <td>{{mainboard.mainboard_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>메모리용량</th>
    <th>메모리클럭</th>
    <th>전력</th>
    <th>판매가격</th>
  </tr>
  {% for memory in memory %}
  <tr>
    <td>{{memory.memory_title}}</td>
    <td>{{memory.memory_manufacturer}}</td>
    <td>{{memory.memory_capacity}}</td>
    <td>{{memory.memory_clock}}</td>
    <td>{{memory.memory_wattage}}</td>
    <td>{{memory.memory_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>칩셋</th>
    <th>메모리용량</th>
    <th>부스트클럭</th>
    <th>전력</th>
    <th>판매가격</th>
  </tr>
  {% for videocard in videocard %}
  <tr>
    <td>{{videocard.videocard_title}}</td>
    <td>{{videocard.videocard_manufacturer}}</td>
    <td>{{videocard.videocard_chipset}}</td>
    <td>{{videocard.videocard_capacity}}</td>
    <td>{{videocard.videocard_clock}}</td>
    <td>{{videocard.videocard_wattage}}</td>
    <td>{{videocard.videocard_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>장치</th>
    <th>용량</th>
    <th>전력</th>
    <th>판매가격</th>
  </tr>
  {% for storage in storage %}
  <tr>
    <td>{{storage.storage_title}}</td>
    <td>{{storage.storage_manufacturer}}</td>
    <td>{{storage.storage_device}}</td>
    <td>{{storage.storage_capacity}}</td>
    <td>{{storage.storage_wattage}}</td>
    <td>{{storage.storage_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>폼팩터</th>
    <th>정격출력</th>
    <th>판매가격</th>
  </tr>
  {% for power in power %}
  <tr>
    <td>{{power.power_title}}</td>
    <td>{{power.power_manufacturer}}</td>
    <td>{{power.power_formfactors}}</td>
    <td>{{power.power_output}}</td>
    <td>{{power.power_price}}</td>
  </tr>
  {%endfor%}
  <tr>
    <th>제품명</th>
    <th>제조사</th>
    <th>크기</th>
    <th>폼팩터</th>
    <th>판매가격</th>
  </tr>
  {% for comcase in comcase %}
  <tr>
    <td>{{comcase.comcase_title}}</td>
    <td>{{comcase.comcase_manufacturer}}</td>
    <td>{{comcase.comcase_size}}</td>
    <td>{{comcase.comcase_formfactors}}</td>
    <td>{{comcase.comcase_price}}</td>
  </tr>
  {%endfor%}
</table>