* { padding: 0; margin: 0; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.keyword-layer {
  margin: 0 auto;
  width: 1920px;
}

// 키워드 입력 창
.keyword-body {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 700px;
  height: 150px;

  .search-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 5px;
  }

  .search-context {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 5px;
  }

  .search-image {
    position: absolute;
    height: 15px;
    border-radius: 25px;
    border: 1px solid #9C94D0;
    padding: 9px;
    z-index: 1;
  }
  
  .search-input {
    position: relative;
    width: calc(90%);
    height: 35px;
    border: 1px solid #9C94D0;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 15px 0 40px;

    &:focus {
      outline: none !important;
      box-shadow: 0 0 0 2px #dadce0;
      caret-color: #660066;
    }
  }

  // 로그인 버튼
  .search-button {
    display: inline-block;
    width: 80px;
    padding: 3px;
    border: none;
    background-color: #660066;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
  }
}

// 키워드 견적 결과 폼
.keyword-result-form {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 520px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #dadce0;

  .keyword-title {
    text-align: center;
    font-size: 1.3rem;
    margin: 5px 0px;
    font-weight: 600;
  }

  .keyword-context {
    text-align: center;
    font-size: 1.1rem;
    margin: 5px 0px;
  }

  .keyword-scroll {
    width: 290px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f1f1f1;
  }

  .list-line {
    border: 1px solid #000000;
    margin: 5px auto;
  }

  .keyword-quote-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #9C94D0;
    color: #ffffff;
  }

  .keyword-quote {
    position: relative;
    padding: 5px;
    width: 290px;
    height: 55px;
    font-weight: bold;
    border: none;

    .keyword-image {
      width: 50px;
      height: 50px;
    }

    .keyword-name {
      position: absolute;
      font-size: 1.0rem;
      left: 60px;
      top: 10px;
    }

    .keyword-price {
      position: absolute;
      top: 30px;
      left: 60px;
      font-size: 1.0rem;
      color: #ff0000;
    }
  }

  .keyword-wattage, .keyword-total-price {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 3px 0px;

    .right {
      position: absolute;
      right: 15px;
    }
  }

  .keyword-button {
    width: calc(50% - 10px);
    height: 35px;
    border: none;
    background-color: #660066;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
}

// 메뉴 숨기기
.hidden {
  display: none;
}