* { padding: 0; margin: 0; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.keyword-layer {
  margin: 0 auto;
  width: 1920px;
}

// 키워드 입력 창
.keyword-body {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 700px;
  height: 150px;

  .search-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
  }

  .search-image {
    position: absolute;
    height: 15px;
    border-radius: 25px;
    border: 1px solid #9C94D0;
    padding: 9px;
    z-index: 1;
  }
  
  .search-input {
    position: relative;
    width: calc(90%);
    height: 35px;
    border: 1px solid #9C94D0;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 15px 0 40px;

    &:focus {
      outline: none !important;
      box-shadow: 0 0 0 2px #dadce0;
      caret-color: #660066;
    }
  }

  // 로그인 버튼
  .search-button {
    display: inline-block;
    width: 80px;
    padding: 3px;
    border: none;
    background-color: #660066;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
  }
}