* { padding: 0; margin: 0; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-layer {
  margin: 0 auto;
  width: 1920px;
}

// 헤더 메뉴(나중에 분리해서 함수화 예정)
.main-header {
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: #660066;

  // 메인 로고 디자인
  .main-logo {
    position: relative;
    margin-left: 30px;
    color: #FFFFFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin-right: 50px
  }

  // 메인 메뉴 디자인
  .main-menu {
    position: relative;
    margin-left: 50px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
  }

  // 로그인 메뉴 디자인
  .login-menu {
    position: relative;
    left: 430px;
    color: #FFFFFF;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .login-logo {
    position: relative;
    width: 70px;
    margin: auto;
    top: 25px;
    left: 460px;
    color: #FFFFFF;
    filter: invert(100%);
  }

  .main-menu:hover, .login-menu:hover {
    color: #DBE76D;
    cursor: pointer;
  }
}

// 메인 페이지
.main-body {
  display: inline-block;
  // 컴퓨터 이미지
  .computer {
    position: absolute;
    width: 750px;
    top: 150px;
    left: 100px;
  }

  // 메인 제목과 내용
  .main-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    width: 1000px;
    left: 860px;
    top: 350px;
  }

  .main-context {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    width: 1000px;
    left: 860px;
    top: 400px;
  }
}