* { padding: 0; margin: 0; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

// 이미지 드래그 방지하기
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
 }

.quote-layer {
  margin: 0 auto;
  width: 1920px;
}

// 온라인 견적 페이지
.quote-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 930px;
  height: 690px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #dadce0;

  // 부품 메뉴 선택
  .quote-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    .cart-menu {
      display: inline-block;
      width: 25%;
      line-height: 40px;
      height: 40px;
      background-color: #969696;
      color: #ffffff;
      border: none;
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
    }

    .bottom {
      margin-bottom: 10px;
    }

    .left1 {
      border-radius: 10px 0 0 0;
    }

    .left2 {
      border-radius: 0 0 0 10px;
    }

    .right1 {
      border-radius: 0 10px 0 0;
    }

    .right2 {
      border-radius: 0 0 10px 0;
    }

    .active-menu {
      background-color: #9C94D0;
    }
  }

  // 초기화, 주문 버튼
  .quote-button {
    display: inline-block;
    position: relative;
    bottom: 7px;
    left: 740px;
    width: 70px;
    height: 18px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    background-color: #4BA59C;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }

  // 바
  .compatible, .wattage, .price {
    display: inline-block;
    position: relative;
    bottom: 3px;
    width: 300px;
    height: 30px;
    padding: 5px;
    border: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
  }

  // 바 이미지
  .bar-image {
    position: relative;
    width: 20px;
    left: 5px;
    top: 5px;
    color: #FFFFFF;
    filter: invert(100%);
  }

  // 호환성 바
  .compatible {
    background-color: #00b16a;
    border-radius: 10px 0 0 0;
    .text-bar {
      position: absolute;
      left: 35px;
    }
  }

  // 전력량 바
  .wattage {
    background-color: #2c87c3;
    .text-bar {
      position: absolute;
      left: 35px;
    }

    .text-wattage {
      position: absolute;
      right: 20px;
    }
  }

  // 가격 바
  .price {
    background-color: #660066;
    border-radius: 0 10px 0 0;
    .text-bar {
      position: absolute;
      right: 10px;
    }

    .text-price {
      position: absolute;
      right: 40px;
    }
  }

  // 리스트
  .option-list, .product-list, .cart-list {
    display: inline-block;
    position: relative;
    bottom: 3px;
    width: 290px;
    height: 510px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    overflow-y: scroll;
  }

  .option-list {
    overflow-y: hidden;
  }

  // 리스트 구분 선
  .list-line {
    border: 1px solid #000000;
    margin: 10px auto;
  }

  // 옵션 리스트
  .option-list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    .option-title {
      font-size: 1.1rem;
    }

    .option-content {
      font-size: 1.0rem;
      margin-left: 5px;
    }
  }

  // 상품 리스트
  .product-list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    .product {
      position: relative;
      .product-image {
        margin: 12px 0;
        width: 80px;
        height: 80px;
      }
  
      .product-name {
        position: absolute;
        font-size: 1.0rem;
        margin-left: 5px;
        top: 10px;
      }
  
      .product-spec {
        position: absolute;
        top: 48px;
        font-size: 0.9rem;
        margin-left: 5px;
      }
  
      .product-price {
        position: absolute;
        top: 80px;
        font-size: 0.9rem;
        color: #ff0000;
        margin-left: 5px;
      }

      .product-button {
        position: relative;
        display: inline-block;
        top: 6px;
        width: 90px;
        height: 30px;
        margin-left: 5px;
        padding: 10px;
        border: none;
        background-color: #4BA59C;
        border-radius: 5px;
        line-height: 0px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  // 장바구니 목록
  .cart-list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;

    .basket {
      position: relative;
      height: 60px;
      border: #9C94D0 2px solid;
      background-color: #ffffff;
      margin: 10px 0;

      .basket-title {
        position: absolute;
        width: 90%;
        top: 2px;
        font-size: 1.0rem;
        margin-left: 5px;
      }

      .basket-exit {
        position: absolute;
        width: 20px;
        top: 3px;
        right: 5px;
        cursor: pointer;
      }

      .basket-left {
        position: absolute;
        width: 20px;
        top: 35px;
        right: 55px;
        cursor: pointer;
      }

      .basket-right {
        position: absolute;
        width: 20px;
        top: 35px;
        right: 5px;
        cursor: pointer;
      }

      .basket-count {
        position: absolute;
        font-size: 1.0rem;
        top: 37px;
        right: 30px;
      }

      .basket-price {
        position: absolute;
        font-size: 1.2rem;
        margin-left: 5px;
        left: 0;
        top: 33px;
        color: #ff0000;
      }
    }
  }

  // 메뉴 숨기기
  .hidden {
    display: none;
  }
}