* { padding: 0; margin: 0; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.signup-layer {
  margin: 0 auto;
  width: 1920px;
}

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 300px;
  height: 350px;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #dadce0;

  .signup-logo {
    position: relative;
    margin: 10px auto;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .signup-line {
    border: 1px solid #000000;
    margin-bottom: 20px;
  }

  // 로그인 폼
  .signup-input {
    width: calc(100%);
    height: 35px;
    border: 1px solid #9C94D0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 10px;

    &:focus {
      outline: none !important;
      border-color: #660066;
      box-shadow: 0 0 0 2px #dadce0;
      caret-color: #660066;
    }
  }

  // 로그인 버튼
  .signup-button {
    width: calc(100%);
    height: 35px;
    border: none;
    background-color: #660066;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
  }
}